<!-- <div class="artist">
	<video autoplay muted loop>
		<source src="images/chet/chet-little.mp4" type="video/mp4">
	</video>
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi alias odit saepe itaque iste magnam corporis quibusdam debitis. Soluta dolorem voluptas eius eveniet saepe, cupiditate tenetur quos corporis ipsum illum.</h1>
			</div>
			<div class="col-lg-6">
				<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi alias odit saepe itaque iste magnam corporis quibusdam debitis. Soluta dolorem voluptas eius eveniet saepe, cupiditate tenetur quos corporis ipsum illum.</h1>
			</div>
			<div class="col-lg-6">
				<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi alias odit saepe itaque iste magnam corporis quibusdam debitis. Soluta dolorem voluptas eius eveniet saepe, cupiditate tenetur quos corporis ipsum illum.</h1>
			</div>
			<div class="col-lg-6">
				<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi alias odit saepe itaque iste magnam corporis quibusdam debitis. Soluta dolorem voluptas eius eveniet saepe, cupiditate tenetur quos corporis ipsum illum.</h1>
			</div>
			<div class="col-lg-6">
				<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi alias odit saepe itaque iste magnam corporis quibusdam debitis. Soluta dolorem voluptas eius eveniet saepe, cupiditate tenetur quos corporis ipsum illum.</h1>
			</div>
			<div class="col-lg-6">
				<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi alias odit saepe itaque iste magnam corporis quibusdam debitis. Soluta dolorem voluptas eius eveniet saepe, cupiditate tenetur quos corporis ipsum illum.</h1>
			</div>
		</div>
	</div>
</div> -->